body {
    background-color: #f5f5f5;
    font-family: 'Roboto';
}

/*navbar*/
.navbar-logo {
    color: #044bd9;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.navbar-subtext {
    color: #7dcbf5;
    text-decoration: none;
    font-weight: 300;
    display: block;
    font-size: 18px;
}

.lead text-secondary {
    color: #7d7e80;
}

.nav-item {
    display:inline-block;
    justify-content:space-between;
    align-items:center;  
}

.nav-link {
    color: rgba(0, 0, 0, 0.543);
}

/*Carousel*/
.carousel {
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    
    margin-top: 2rem;
}

.carousel-inner {
    height:450px; 
}

.h2 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 2rem;
    padding-left: 1rem;
}
/*Subtitles*/
.h5 {
    font-weight: 700;
    font-size: 18px;
    padding: 1rem 0 0 1rem;
    color: #7d7e80;
}

.text {
    font-size: 16px;
    color: #a6adb4;
    padding-left: 1rem;
    padding-right: 1rem;
}

.small-title {
    font-weight: bold;
    color: #0A64DB;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.small-text {
    font-size: 14px;
    color: #a6adb4;
    padding-left: 1rem;
    padding-right: 1rem;
}

/*footer*/
.footer-text {
    text-decoration: none;
    color: white;
    text-align: left;
}

.footer-text2 {
    text-decoration: none;
    color: white;
    text-align: right;
}

.highlighted-pub {
    color: #0A64DB;
    font-weight: bold;
    font-size: 16px;
}






