body {
    background-color: #f5f5f5;
    font-family: 'Roboto';
}

/*navbar*/
.navbar-logo {
    margin-bottom: 0px;
    color: #044bd9;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.navbar-subtext {
    color: #7dcbf5;
    text-decoration: none;
    font-weight: 300;
    display: block;
    font-size: 18px;
}

@media (max-width: 767px) {
    .navbar-subtext {
        display: none;
    }
}

.lead text-secondary {
    color: #7d7e80;
}

.nav-item {
    display:inline-block;
    justify-content:space-between;
    align-items:center;  
}

.nav-link {
    color: rgba(0, 0, 0, 0.543);
}

/*Carousel*/
.carousel {
    border-radius: 5px 5px 5px 5px;
}

#carouselHero .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
}

/*Research Summary*/
.h2 {
    font-size: 32px;
    font-weight: bold;
    position: relative;
    margin-top: 2rem;
    padding-left: 1rem;
}

.h5 {
    font-weight: 700;
    font-size: 18px;
    padding: 1rem 0 0 1rem;
    color: #7d7e80;
}

.text {
    font-size: 16px;
    color: #a6adb4;
    padding-left: 1rem;
    padding-right: 1rem;
}

/*News & Updates*/
.small-title {
    font-weight: bold;
    color: #0A64DB;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.small-text {
    font-size: 14px;
    color: #a6adb4;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0;
}

i {
    font-size: 13px;
    color: #A6ADB4;
    padding-left: 1rem;
}

/*Highlighted Publications*/
.publication {
    width: 355px;
    height: 175px;
    margin: 5px;
    padding: 20px;
    text-align: left;

    position: relative;
    background-color: white;
    border-radius: 1px;
    list-style-type: none;
    box-sizing: content-box;
    box-shadow: 1px 2px 2px #00000029;
    opacity: 1;
}

.title {
    color: #0A64DB;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.hp-image {
    width: 86px;
    height: 88px;
    float: left; 
    margin-top: 8px;
    margin-right: 8px;
}

.authors {
    color: #A6ADB4;
    margin-top: 4px;
}


@media (max-width: 767px) {
    .publication {
        width: 400px;
        text-align: left;
        padding: 0px;
        margin-bottom: 20px;
    }

    .hp-image {
        width: 400px;
        height: 88px;
        float: left;
        margin-top: 0px; 
    }

    .title {
        font-size: 16px;
        color: white;
        font-size: 16px;
        position: absolute;
        top: 20px;
        left: 25px;
    }
}

/* Footer */
.footer-text {
    text-decoration: none;
    color: white;
}

/* Publications Page */
.publications-page-title{
    margin-top: 130px;
    margin-bottom: 10px;
}

.pub-year {
    font-size: 16px;
    color: black;
    font-weight: 500;
    line-height: 75%;
    margin-top: 20px;
}

.pub-title {
    color: #0A64DB;
  
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.4;
}

.pub-authors {
    color: #A6ADB4;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
}

/* People Page */
.people-page-title1 {
    padding-top: 145px;
}

.staff {
    text-align: center;
}

.staff-image {
    height:243px;
    /*width: 243px;*/
    width: 100%;
    border-radius: 16px;
    border: solid;
}

.staff-name {
    font-size: 20px;
    line-height: 1.4;
    margin-top: 10px;
}

.staff-role {
  font-size: 14px;
  color: #A6ADB4;  
}


/* Modal */
.modal-dialog {
    margin-top: 80px;
}

.modal-image {
    height: 261px;
    width: 261px;
    opacity: 1;
    margin-top: 0px;
}

.modal-title {
    font-size: 23px;
    padding-top: 45px;
}

.modal-role {
    font-size: 16px;
    color: #A6ADB4;
    
}

.modal-content {
    width: 551px;
    height: 758px;

    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #00000033;
    border-radius: 4px;
    opacity: 1;
}

.modal-header {
    color: white;
    padding: 0px;
    background-color: #39394c;
}

.modal-intro {
 position: absolute;
 top: 12%;
 left: 58%;
}

.btn-close {
    position: absolute;
    top: 2%;
    left: 92%;
    width: 14px;
    height: 14px;
}

.modal-body {
    padding: 40px;
    font-size: 18px;
}

